@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bold-text {
    @apply font-bold font-brutal text-[10px] leading-[10px] tracking-[0.2em] md:text-[12px] md:leading-[12px] lg:text-[12px] lg:leading-[12px];
  }

  .regular-text {
    @apply font-normal font-oceanic text-[14px] leading-[20px] -tracking-[0.03em] md:text-[16px] md:leading-[24px];
  }

  .big-text {
    @apply font-normal font-oceanic text-[20px] leading-[24px] -tracking-[0.03em] md:text-[24px] md:leading-[24px] lg:leading-[28px];
  }

  .underline-extension {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-offset: 25%;
    text-decoration-thickness: 10%;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .underline-extension-2 {
    text-decoration-style: solid;
    text-underline-offset: 10%;
    text-decoration-thickness: 2%;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .underline-extension-2-x {
    text-decoration-style: solid;
    text-underline-offset: 10%;
    text-decoration-thickness: 1%;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
